DJANGO_SECRET_KEY=change-me
DEBUG=False
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require
HF_TOKEN=hf_your_token
HF_MODEL=HuggingFaceTB/SmolLM2-1.7B-Instruct
HF_API_URL=https://router.huggingface.co/hf-inference/models
CSRF_TRUSTED_ORIGINS=https://your-project.vercel.app
