{% extends "base.html" %}
{% block content %}
<div class="rs-login pt-100 pb-100">
  <div class="container">
    <div class="noticed">
      <div class="main-part">
        <div class="method-account">
          <h2 class="login">Login</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <input type="text" name="{{ form.username.html_name }}" placeholder="Username" required>
            <input type="password" name="{{ form.password.html_name }}" placeholder="Password" required>
            <button type="submit" class="readon submit-btn">Login</button>
            <div class="last-password">
              <p>Not registered? <a href="{% url 'accounts:register' %}">Create an account</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
